* {
box-sizing: border-box;
-moz-box-sizing: border-box;
}

blockquote a {
    font-weight : bold
}

p {
    line-height: 150%;
}

.artAbs {
    line-height: 150%;
    margin-left: 25 !important;
    width: 530px !important
}

.art {
    line-height: 150%;
    margin-left: 25 !important;
    width: 600px !important
}

.infobubble-container {
    position: relative;
}

.infobubble {
    background-color: #EFEFEF;
    display: none;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    text-indent: -1px;
    padding: 8px 10px 10px 10px;
    position: absolute;
    top: 0px;
    left: -300px;
    width: 290px;
}

.mlktScroll {
    border: 1px solid #CCCCCC;
    height: 100px;
    width: 270px;
    overflow: auto;
    background-color: #FFFFFF;
}

.mlktLink {
    background-color: #FFFFFF;
    padding: 5px 0px 5px 0px;
}

.mlktEmpty {
    background-color: #FFFFFF;
    padding: 5px 5px 5px 5px;
}
