@CHARSET "UTF-8";
body {
	padding-top: 52px;
}
.footer {
	margin-top: 12px;
	padding-top: 8px;
	padding-left: 12px;
	background-color: #f7f7f7;
}
.footer a{
color: #555588;
}
.login {
	margin-top: 24px;
}
.td_link {
	cursor:pointer;
}